.nav{
  height:60px;
  background-color:teal;
  color:white;
  box-shadow: 0 4px 4px 0.2px rgba(0,0,0,.5);
  margin-bottom: 5px;
  text-decoration: none;
  color:white;
  font-weight: 300;
}

.nav div{
  margin: 17px 30px;
  float: right;
}

.sign-up{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 200px;
  border-end-end-radius: 200px;
  box-shadow: 0 10px 8px teal;
  text-align: center;
  width: 700px;
  padding: 0px 0px 30px 0px;
  margin: 3% auto;
  background-color: white;
}

.log-in{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 200px;
  border-end-end-radius: 200px;
  box-shadow: 0 10px 8px teal;
  
  text-align: center;
  padding: 50px;
  width: 600px;
  margin: 50px auto;
  background-color: white;
}

.feed{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  margin: 25px auto;
  border-top-left-radius: 200px;
  border-end-end-radius: 200px;
  box-shadow: 0 10px 8px teal;
  border: #ccc solid 1px;

}

.post{
  width: 500px;
  margin: 30px;
}

.post button{
  float: right;
  margin-top: 30px;
}


.profile{
  width: 450px;
  border: 1px solid rgba(130, 130, 130, 0.558);
  border-radius: 5px;
  margin: 30px;
  padding: 10px 25px;
}

.profile div{
  display: flex;
}
.profile p{
  float: right;
}

.profile div p{
  margin-left: 40px;
}
.feed-header
{
  font-weight: 300;
}

.author{
  font-weight: 300;
  font-size: 1.5em;
}